* {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(../resources/bg.jpg);
  background-position: center;
  background-repeat: repeat;
  margin: 0;
}
header {
  background-image: url(../resources/bg_header.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}
header h1 {
  color: white;
}
header img {height: 100%;}
header nav {
  width: 100%;
  text-align: center;
  background-color: white;
}
ul li {
  list-style-type: none;
  float: left;
  text-align: center;
}
li a {
  color: black;
}
section {
  background-color: seagreen;
  width: 100%;
  text-align: left;
  float: left;
}
article {
  background-color: seagreen;
  text-align: left;
  float: left;
  padding: 20px;
}
figure img {
  clear: both;
  width: 25%;
  margin: auto;
}
figcaption {
  text-align: left;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 5px;
}
a:hover {
  color: red;
}
a:active {
  color: blueviolet;
}
aside {
  clear: both;
  background-color: indianred;
  color: white;
  width: 100%;
  margin: auto;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: indianred;
}
aside video {
  padding-top: 15px;
}
footer {
  border-top-style: solid;
  border-top-color: #333333;
  background-color: #333333;
  clear: both;
  color: white;
  text-align: center;
}